# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Dataset
data/*

# Trained model weights
models/*.pth
models/*.pt

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log
